@font-face {
  font-family: 'BaloiseCreateHeadline-Black';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}