@font-face {
  font-family: 'B-Headline-Black';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-BlackIt';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-BlackIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-Bold';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-BoldIt';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-BoldIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-Light';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-LightIt';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-LightIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-Regular';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B-Headline-RegularIt';
  src:
    url('https://flo-lorenz.github.io/Fonts/BaloiseCreateHeadline-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}